@font-face {
    font-family: 'AbrilFatFace';
    src: url('../../public/fonts/Abril_Fatface/AbrilFatface-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'CrimsonText';
    src: url('../../public/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpecialElite';
    src: url('../../public/fonts/Special_Elite/SpecialElite-Regular.ttf') format('truetype');
}

#app {
    /* background-image: url('@/assets/images/background.jpg');
    background-size: cover;
    background-position: center; */
    background-color: #F3F7F5;
}

.page {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component {
    width: 100%;
}

.page-header {
    font-size: 30px;
    padding: 10px;
    color: #2F5D3F;
}

.giant-header {
    font-family: 'AbrilFatface';
    font-size: 60px;
    color: #2F5D3F;
    text-align: center;
}

.big-header {
    font-size: 34px;
    color: #2D2825;
}

.small-header {
    font-size: 24px;
    color: #2F5D3F;
}

.header-font {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'AbrilFatface';
    letter-spacing: 1.5px;
}

.large-text {
    font-family: 'CrimsonText';
    font-size: 22px;
    color: #2D2825;
}

.main-text {
    font-family: 'CrimsonText';
    font-size: 18px;
    color: #2D2825;
}

.medium-text {
    font-family: 'CrimsonText';
    font-size: 16px;
    color: #2D2825;
}

.small-text {
    font-family: 'CrimsonText';
    font-size: 14px;
    color: #2D2825;
}

.submit-btn {
    font-family: 'CrimsonText';
    font-size: 16px;
    color: #2D2825;
    background-color: #2F5D3F22;
    border-radius: 10px;
    border: solid 1.5px #2F5D3F;
    box-shadow: #2D282599 3px 3px;
}

.item-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: #2D2825;
}

.router-link {
    text-decoration: none;
    padding: 6px 20px;
    color: #2D2825;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'SpecialElite';
    font-size: 18px;
    border-radius: 8px;
}

.chevron-btn {
    padding: 10px;
}

.router-link:hover {
    background-color: #B8B8B844;
}

.text-block {
    border: solid 1.5px #2F5D3F;
    border-radius: 6px;
    box-shadow: #2F5D3F 4px 4px;
}

/* Small - Mobile */
@media (max-width: 750px) {
    .text-block {
        width: 92%;
        padding: 5px;
    }
}

/* Medium - Laptop */
@media (min-width: 751px) and (max-width: 1300px) {
    .text-block {
        width: 70%;
        padding: 10px;
    }
}

/* Large - Desktop */
@media (min-width: 1301px) and (max-width: 1700px) {
    .text-block {
        width: 60%;
        padding: 15px;
        font-size: 20px !important;
    }
}

/* XLarge - Monitor */
@media (min-width: 1701px) {
    .text-block {
        width: 50%;
        padding: 15px;
        font-size: 22px !important;
    }
}